/node_modules
/backup
/public/hot
/public/storage
/storage/*.key
**/marcadores/*
**/mind/*
**/uploads/*
**/modelos3d/*
!**/marcadores/README.md
!**/mind/README.md
!**/uploads/README.md
!**/modelos3d/README.md
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
package-lock.json
public/info.php
database/modelos/modelo01.mwb.bak
*.env
/public/midiasPainel/*
!/public/midiasPainel/.gitkeep
.env
.env.secrets
/public/backup/*
/public/backup
