/* Telas de celular */
@media screen and (max-width: 600px) {
  .h-100{

    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .container{
    
    
    width: 80vw;
    height:60vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #8743df;
    border-radius: 50px;
    border: 5px solid #7e2ce9;
  }
  
  .card-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .logo{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 50vw;
    height: 20vh;
  }
  
  .item-row.login{
    display:flex;
    
    width: 100%;
    border-radius: 25px;
    
    border: 5px solid #7e2ce9;
    
    
  }
  .item-row.password{
    display:flex;
    
    width: 100%;
 
    border: 5px solid #7e2ce9;
    border-radius: 25px;
 }

 .btn.btn-primary{
  display: flex;
  margin:auto;
  width:20vw;
  justify-content: center;
  background-color:#7e2ce9 ;
  border: 5px solid #7e2ce9;
} 

.img-wrapper{
  width: 50vw;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  right:27%;
  transform: translateX(-50%);

}
}


@media screen and (min-width: 768px) {
  

 
}

/* Tela grande minimo de 768px e maximo de 992px */
@media screen and (min-width: 768px) {

  .h-100{

    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .container{
    
    
    width: 30vw;
    height:70vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #8743df;
    border-radius: 100px;
    border: 5px solid #7e2ce9;
  }
  
  .card-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .logo{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 15vw;
    height: 15vh;
  }
  
  .item-row.login{
    display:flex;
    
    width: 100%;
    border-radius: 25px;
    
    border: 5px solid #7e2ce9;
    
    
  }
  .item-row.password{
    display:flex;
    
    width: 100%;
 
    border: 5px solid #7e2ce9;
    border-radius: 25px;
 }

 .btn.btn-primary{
  display: flex;
  margin:auto;
  width:20vw;
  justify-content: center;
  background-color:#7e2ce9 ;
  border: 5px solid #7e2ce9;
} 


.img-wrapper{
  width: 15%;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  right:16%;
  transform: translateX(-50%);

}
  }














/* .wave{
  filter: hue-rotate(270deg) saturate(150%) brightness(90%);
} */

.background-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}





















