 .h-100{
     
    
}



.card{
    display:flex;
    box-shadow: 5px 5px 5px darkgrey;

}


.card-body{
    padding-left: 30%;
    box-shadow: 5px 5px 5px darkgrey;
    

}



.item-row.login{
   display:flex;
   
   width: 90%;

   margin-left: 20%;
   
   
   
}

.item-row.password{
    display:flex;
 
    width: 90%;
 
    margin-left: 20%;
    
    
    
    
    
 }

.btn.btn-primary{

    width: 150px;
    

}



@media screen and (max-width: 600px) {


    .btn.btn-primary{

        width: 150px;
        margin-left: 100px;
    
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
.content-body {


padding-right: 20%;
}


}


@media screen and (min-width: 992px) {
.content-body {
text-align: center;

padding-right: 30%;
padding-left: 12%;
}




}












