
.card{
    display:flex;
    box-shadow: 10px 10px 10px darkgrey;

}

.img-wrapper{
    width: 200px;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    right:250px;
    /* transform: translateX(-50%); */

}




/* Telas de celular */
@media screen and (max-width: 600px) {
    .img-wrapper{
        width: 200px;
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        right:220px;
        /* transform: translateX(-50%); */
    
    }

    .item-row.login{
        display:flex;
        margin-left: 65px;
        width: 250px;
       
     }

    .item-row.password{
        display:flex;
        margin-left: 65px;
        max-width: 250px;
     
        /* margin-left: 20%; */
     
     }

    .btn.btn-primary{

        width: 90px;
        margin-left: 130px;
    
    }
}

/* Tela grande minimo de 768px e maximo de 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* .content-body{
        width: 750px;
        margin-left: 30%;
        
    
    } */
    
    
    .item-row.login{
        display:flex;
        margin-left: 125px;
        width: 400px;
     
        /* margin-left: 10%; */
        
        
        
     }
     
     .item-row.password{
         display:flex;
         margin-left: 125px;
         width: 400px;
      
         /* margin-left: 20%; */
      
      }
    
      .btn.btn-primary{
    
        margin-left: 225px;
        width: 150px;
      }
    }

/* Tela grande minimo de 992px */

@media screen and (min-width: 992px) {
    
.content-body{
    width: 750px;
    margin-left: 30%;
    

}


.item-row.login{
    display:flex;
    margin-left: 125px;
    width: 400px;
 
    /* margin-left: 10%; */
    
    
    
 }
 
 .item-row.password{
     display:flex;
     margin-left: 125px;
     width: 400px;
  
     /* margin-left: 20%; */
  
  }

  .btn.btn-primary{

    margin-left: 225px;
    width: 150px;
    

} 



}   















