
        /* h-100{
            background-image:linear-gradient(circle at center, #8743df, #bd8aff);



        } */

        .brand-logo{


            background-color: #e3edeb;
        }
        
        
        
        body {
            
            padding: 0;
            font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
            color: #244376;
            /* background-color: black; */
        }

        #card {
            margin: 3em auto;
            display: flex;
            flex-direction: column;
            max-width: 600px;
            border-radius: 6px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
            overflow: hidden;
        }

        model-viewer {
            width: 100%;
            height: 550px;
            background-color: rgb(65, 64, 64);
            --poster-color: #ffffff00;
        }
        #btn_save.btn.btn-success{
            width: 50%;
            padding:5% 20%;
           
            
            
            
        }

        .btn.btn-warning{

            background-color: white;
            border-color: #83368A;
            /* height: 90%; */
            width: 100%;

        }
        .attribution {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 1em;
        }

        .attribution h1 {
            margin: 0 0 0.25em;
        }

        .attribution img {
            opacity: 0.5;
            height: 2em;
        }

        .attribution .cc {
            flex-shrink: 0;
            text-decoration: none;
        }

        /* footer {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            margin: auto;
            text-align: center;
            font-style: italic;
            line-height: 1.5em;
        } */

        .footer{
            
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;
            position: absolute;
            bottom: 0;
            width: 100%;
            
            
        }

        #footerBF{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px;
            border: none;
            cursor: pointer;
            grid-row-start:1 ;
            grid-row-end: 3;
            
            
            
        }

        #footerBL{
            grid-row-start:2 ;
            grid-row-end: 3;
            grid-column-start:4;
            grid-column-end:5;
            


        }
        


       

    
