
        /* h-100{
            background-image:linear-gradient(circle at center, #8743df, #bd8aff);



        } */

        .brand-logo{


            background-color: #e3edeb;
        }
        
        
        
        body {
            
            padding: 0;
            margin: 0;
            font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
            color: #244376;
            /* background-color: black; */
        }

        #card {
            margin: 3em auto;
            display: flex;
            flex-direction: column;
            max-width: 600px;
            border-radius: 6px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
            overflow: hidden;
        }

        /* #btn_save.btn.btn-success{
            width: 50%;
            padding:5% 20%;     
        } */

        .btn.btn-warning{

            background-color: white;
            border-color: #83368A;
            height: 100%;
            width: 100%;

        }



        .attribution {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 1em;
        }

        .attribution h1 {
            margin: 0 0 0.25em;
        }

        .attribution img {
            opacity: 0.5;
            height: 2em;
        }

        .attribution .cc {
            flex-shrink: 0;
            text-decoration: none;
        }

       

        .footer{
            border-top: 1px solid #333;
            bottom: 0;
            left: 0;
            position: absolute;
            width: 100%;
     
        } 


        .gridContainer{

            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
            gap:5px;
            padding: 5px;
            align-items: center;
            justify-content: center;

        }


        #buttons_ar{
            
            position: absolute;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3, 1fr);
            gap:5px;
            padding: 5px;
            align-items: center;
            justify-content: center;
            bottom: 0;
            right: 0;
            width: 100%;
           
        }


        #buttonReturn{

            grid-column: 1 / span 1; 
            grid-row: 2 / span 1;
            z-index: 2;


        }

        #buttonQuestion{

            grid-column: 1 / span 1; 
            grid-row: 1 / span 1;
            


        }
        #buttonRotateX{

            grid-column: 2 / span 1; 
            grid-row: 1 / span 1;


        }
        #buttonRotateY{

            grid-column: 2 / span 1; 
            grid-row: 2 / span 1;


        }
        #buttonZoomIn{

            grid-column: 3 / span 1; 
            grid-row: 1 / span 1;


        }
        #buttonZoomOut{

            grid-column: 3 / span 1; 
            grid-row: 2 / span 1;


        }




        

        

        
        


       

    
