
        
        /* Header */

        .brand-logo{
            background-color: #e3edeb; /*ajuste da cor dde fundo do logo*/
        }




        /*corpo da pagina*/
        
        .h-100{


            overflow: auto !important;
            height: 90vh !important;
        }


      


        /*faco aminima idea do qq isso ta fazenddo*/

        #card {
            margin: 3em auto;
            display: flex;
            flex-direction: column;
            max-width: 600px;
            border-radius: 6px;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
            overflow: hidden;
        }
        .attribution {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 1em;
        }

        .attribution h1 {
            margin: 0 0 0.25em;
        }

        .attribution img {
            opacity: 0.5;
            height: 2em;
        }

        .attribution .cc {
            flex-shrink: 0;
            text-decoration: none;
        }

        /*ate aqui*/

        .btn.btn-warning{
            height: 100%;
            width: 100%;

        }


        /*footer*/


        .nav_bar{
            position:absolute;
            bottom: 0;
            left:0;
            background-color:#f9f9f9;
            width: 100vw;
            height: 4rem;
            padding:0 1rem;
            display:grid;
            align-items: center;



        }

        .buttons_ar {
            position: absolute;
            display: grid;
            grid-template-columns: repeat(8, 1fr); 
            align-items: center; 
            justify-content: center; 
            width: 100%;
            height: 100%; 
            
        }
        
        
        .content-body{
            overflow: auto !important;
            height: 95vh !important;
        }

         #buttons_ar.hide{
            display: none;
        }
 

        #button-back,#button-ar, #b_rotate_x, #b_rotate_x_, #b_rotate_y,#b_rotate_y_, #zoom_mais, #zoom_menos, #showObject, #removeObject{

            height: 80%;
            text-align: center;
        }

        #b_rotate_x_{

            transform: rotate(180deg);
        }
        
        


       

    
