.d-flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.conexoes-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.buttons-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
}

.form-inline {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.form-inline label {
    margin-right: 10px;
}

.form-control {
    flex-grow: 1;
    width: auto;

}

.btn-primary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none;
}


