/* =============================
   ESTILOS GERAIS
   ============================= */
body {
    overflow: hidden !important;
}

.container,
.container-fluid {
    padding: 0px !important;
}

.content-body .container {
    margin: 0px !important;
}


/* =============================
   BOTÃO ADICIONAR PAINEL
   ============================= */
#addPanel {
    margin: 17px;
    width: 116px;
    position: fixed;
    right: 346px;
}

.AddPainel {
    position: fixed;
    z-index: 10;
    width: 63px;
    height: 31px;
    margin-left: 18px;
    border-radius: 2px;
}

/* =============================
   MENU LATERAL
   ============================= */
.menu-opcoes {
    display: none;
}

.menu-opcoes.ativo {
    display: block;
}

.menu-lateral {
    position: fixed;
    right: 0;
    width: 346px;
    background-color: #FFF;
    box-shadow: -7px 15px 10.2px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
    transform: scale(1);
    padding: 10px 22px;
    overflow: hidden;
    overflow-y: scroll;
    height: -webkit-fill-available;
}

h3 {
    color: #807E7E;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

input {
    width: 100%;
    height: 45px;
    padding: 10px;
    border-radius: 9px;
    border: 1px solid #C8C8C8;
}

.mb-6 {
    margin-bottom: 20px;
}

.singleTap {
    display: flex;
    justify-content: space-between;
}

.selected {
    box-shadow: 0 0 8px #833B8D, 0 0 16px #833B8D, 0 0 24px #833B8D;
    border-radius: 30px;
}


/* =============================
   FORMATOS DOS BOTÕES
   ============================= */
.tipos {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}

.linhas,
.blocos,
.alternativas {
    width: 90px;
    height: 90px;
    border-radius: 9px;
    border: 1px solid #C8C8C8;
    padding: 12px 6px;
}

.linhas div {
    width: 100%;
    height: 20px;
    border-radius: 3px;
    background: #D9D9D9;
    margin-bottom: 3px;
}

.blocos div {
    width: calc((100% - 3px)/2);
    height: 31px;
    border-radius: 3px;
    background: #D9D9D9;

}

.blocos {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.alternativas div {
    width: calc((100% - 3px) / 2);
    height: 31px;
    border-radius: 50%;
    background: #D9D9D9;
}

.alternativas {
    padding: 12px 9px !important;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.layout-blocos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 3px 0;
}

.layout-blocos .button_Panel {
    width: calc((100% - 3px) / 2);
    height: calc((100% - 6px) / 3);
    margin: 0;
}

.layout-alternativas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 6px;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.layout-alternativas .button_Panel {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 70px;
    max-height: 70px;
    border: 0.5px solid #833B8D;
    border-radius: 50%;
    background-color: transparent;
    color: #833B8D;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin-bottom: 0;
    height: 100%;
    text-align: center;
}

.layout-alternativas .circulo {
    display: none;
}

/* =============================
    CONEXÃO (LINHAS)
   ============================= */

img[data-id-origem] {
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
}


/* =============================
    EDITOR DE TEXTO
   ============================= */
.trumbowyg-box,
.trumbowyg-editor-box {
    border-radius: 9px;
    height: 0 !important;
    overflow: hidden !important;
}

.trumbowyg-box {
    min-height: 135px !important;
    overflow: visible !important;
}

.trumbowyg-editor {
    padding: 10px 0 !important;
    scale: 1.07;
    transform: translateX(3px);
    width: 92% !important;
}

#blocoTxt .trumbowyg-editor.trumbowyg-reset-css p {
    margin-bottom: 0 !important;
}

.trumbowyg-button-pane {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    background: none !important;
}

.trumbowyg-button-group {
    flex-shrink: 0;
    display: flex;
    gap: 2px;
}

.trumbowyg-button-pane button {
    width: 20px !important;
    height: 20px !important;
}


.trumbowyg-button-group button {
    font-size: 12px;
    padding: 4px 6px;
    height: auto;
    line-height: 1;
}

.trumbowyg-button-group button svg {
    width: 17px;
    height: 17px;
}

.trumbowyg-button-pane .trumbowyg-button-group {
    align-items: center;
}

.trumbowyg-button-group button[title="Font"] {
    color: #833B8D;
    padding-bottom: 33px !important;
    font-size: 12px;
    width: 32px !important;
}

.trumbowyg-dropdown-backColor:not(.trumbowyg-dropdown--color-list),
.trumbowyg-dropdown-foreColor:not(.trumbowyg-dropdown--color-list) {
    left: 0px !important;
}

.trumbowyg-editor:empty:before {
    content: attr(placeholder);
    color: gray;
    font-size: 12px;
    pointer-events: none;
    display: block;
}

.trumbowyg-button-pane button svg {
    fill: #833B8D;
}

/* =============================
    CANVAS E ZOOM
============================= */
.menu-zoom {
    position: fixed;
    bottom: 10px;
    z-index: 10;
    margin-left: 18px;
    display: flex;
}

#zoom-in,
#zoom-out {
    width: 46.67px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid rgb(240 240 240);
    background: rgba(131, 59, 141, 0.71);
    font-size: 20px;
}

#resizeZoom {
    height: 38px;
    font-size: 12px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid rgb(240 240 240);
    background: rgba(131, 59, 141, 0.71);
    color: white;
}


.canvas-container {
    overflow: hidden;
    width: calc(100% - 346px);
    height: calc(100vh - 50px);
    position: relative;
}

.canvas {
    width: 80000px;
    height: 80000px;
    background-color: #f0f0f0;
    transform-origin: top left;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0.7) translate(-50%, -50%);
    /* Centraliza a div maior */
}

/* =============================
    BOTÕES DE AÇÃO
============================= */
.button {
    width: 100%;
    height: 38px;
    border-radius: 7px;
    border: 1px solid #833B8D;
    background: #833B8D;
    color: #FFF;
    text-align: center;
    font-size: 16px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

/* =============================
   MINI PAINEIS
   ============================= */
.painel {
    top: calc(40000px - (462px)/2);
    left: calc(40000px - (291px)/2);
    padding: 20px;
    width: 291px;
    height: 462px;
    position: absolute;
    background: #F8F8F8;
    border: 1px solid #ccc;
    border-radius: 22px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: -10.5px 13.5px 15.3px 0px rgba(0, 0, 0, 0.25);
    transition: border 0.2s ease-in-out;
}

.painel .txtPainel {
    word-wrap: break-word;
    scale: 1.1;
    margin-left: 10px;
    width: 90%;
    height: 20%;
    font-size: 10px;
    border-radius: 1.5vh;
    padding: 1% 10px;
    border: none;
    resize: none;
    background-color: white;
}

.painel .txtPainel p {
    margin-bottom: 0;
}

.painel.selecionado {
    border: 1px solid #FFA600;
}

.idPainel {
    position: absolute;
    top: -34px;
    left: 0;
    font-size: 17px;
}

.button_Panel.selecionado {
    border: 1px solid #FFA600 !important;
}

.midia {
    width: 100%;
    height: 172.5px;
    /* 115 * 1.5 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
}

.midia * {
    max-width: 100%;
    max-height: 172.5px;
    object-fit: contain;
}

.areaBtns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 146px;
    justify-content: space-between;
}

.button_Panel {
    display: flex;
    align-items: center;
    border: 0.5px solid #833B8D;
    border-radius: 9px;
    padding: 8.25px;
    margin-bottom: 4.5px;
    height: 45px;
    width: 100%;
}

.circulo {
    width: 30px;
    height: 30px;
    background-color: #823688;
    border-radius: 50%;
    margin-right: 10px;
}

.no_midia {
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    aspect-ratio: 1/1;
    height: 172.5px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fileMidia {
    margin: auto;
    width: 50%;
    aspect-ratio: 1;
}

.videoContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

/* =============================
   COLOR PICKER
   ============================= */
.pickr .pcr-button {
    width: 100% !important;
    margin-bottom: 8px;
}

.pcr-app[data-theme=nano] {
    width: 100% !important;
    z-index: 9999 !important;
    display: block !important;
    visibility: visible !important;
    position: relative;
}

#color-picker-container {
    display: block !important;
    visibility: visible !important;
}

/* =============================
    DROPDOWN
   ============================= */
.select {
    position: relative;
    width: 100%;
}

.select-native {
    width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #C3C3C3;
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;
    background-color: white;
}

.options {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1000;
    border-radius: 9px;
    overflow: hidden;
}

.options div {
    padding: 10px;
    cursor: pointer;
}

.options div:hover {
    background-color: #DFC1E4;
}

/* =============================
   POP UP DE ADICIONAR MÍDIA
   ============================= */


#opaque-background {
    background-color: #D7D7D7;
    opacity: 0.7;
    position: absolute;
    z-index: 1500;
    width: 50000px;
    height: 50000px;
    top: -25000px;
    left: -25000px;
}

#flex-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#popup {
    background-color: white;
    width: 600px;
    z-index: 1501;
    border-radius: 19px;
    padding: 40px 40px;
    position: relative;
}

#midiaInput {
    display: none;
}

.picture {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 19px;
    background: #F0EBF1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed #833B8D;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
    margin-top: 40px;
}

.picture:hover {
    color: #777;
    background: #E7DFE9;
}

.picture:active {
    background: #DFC1E4;
}

.picture:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
}

.pInfo {
    color: #B8B5B5;
    font-size: 13px;
    margin-bottom: 30px;
    float: left;
}

#popup {
    box-shadow: -10px 12px 17px 0px rgba(0, 0, 0, 0.185);
}

#popup button {
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: 600;
    background: none;
    color: black;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}


#popup button:focus {
    outline: none;
    box-shadow: none;
}

#popup p:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
    float: left;
}

#pYoutube {
    font-size: 17px;
    color: #827E7E;
    font-weight: bold;
    margin-bottom: 5px;
}

#popup input[type="text"] {
    width: 100%;
    background-color: #EFEFEF;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

#videoContainer {
    width: 100%;
    height: 33.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoContainer iframe {
    width: 450px;
    height: 280px;
}

#addButton {
    width: 36px;
    height: 36px;
    border: none !important;
    border-radius: 50%;
    background-color: #833B8D;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

i#addButton.bi.bi-plus-circle-dotted.h1 {
    font-size: 25px !important;
    /* tamanho do ícone, ajuste conforme desejar */
    border: none !important;
}

#buttonh3 {
    margin-top: 10px;
}

.divBotoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* para alinhamento vertical */
    position: relative;
    /* manter o position original */
}

.linhas.selecionado,
.blocos.selecionado,
.alternativas.selecionado {
    border: 1px solid #FFA600;
    border-radius: 9px;
    /* Mantém o estilo dos botões */
}