body{
    display: flex;
    



}


.btn-success{
    display: flex;

    justify-content:flex-end;
}

.h3{
    display: flex;

    justify-content: center;

}

footer{
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}