table {
    text-align: center !important;
    display: table !important;
    margin-top: 16px;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.table-container {
    overflow-x: auto; 
    width: 100%;
}

.fixedCol,
tbody tr td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #f9f9f9;
    overflow: hidden;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    width: max-content;
    table-layout: fixed;
}

.atividade {
    background-color: #833B8D;
    border: 1px solid #6A2D73 !important;
    color: aliceblue;
}

.atividade:nth-of-type(2) {
    border-top-left-radius: 25px !important;
}


.questions {
    background-color: #D9D9D9;
    border: 1px solid #C7C4C4 !important;
    color: black;
}

/* td{
    border: 2px solid #C7C4C4;
} */

tbody td {
    border: 1px solid #C7C4C4 !important;
}

tbody tr:nth-child(even) {
    background-color: #EFEFEF;
}

table td,
table th {
    padding: 15px;
    font-weight: 500;
    display: table-cell !important;
    vertical-align: middle !important;
}

#table tbody td,
#table thead tr:last-child th {
    border: 1px solid #C7C4C4;
}

.table tbody tr:first-child td:first-child {
    border-top-left-radius: 25px;

}

[data-toggle="tooltip"] {
    position: relative;
    cursor: pointer;
}

[data-toggle="tooltip"]::after {
    content: attr(title);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 2;
}

[data-toggle="tooltip"]:hover::after,
[data-toggle="tooltip"]:hover::before {
    opacity: 1;
    visibility: visible;
}