body {
    white-space: nowrap;
}

#table {
    width: 100%;
    min-width: 1200px;
    border-collapse: separate;
    border-spacing: 0;
}

#table thead tr:first-child th:nth-child(2) {
    border-top-left-radius: 25px !important;

}

#table tbody td,
#table thead tr:last-child th {
    border: 1px solid #C7C4C4;
}

tr:nth-child(even) {
    background: #EFEFEF;
}

.table-responsive {

    -webkit-overflow-scrolling: touch; /* Melhora a rolagem em dispositivos móveis */
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px; 
}

table td,
table th {
    padding: 15px;
    font-weight: 500;
    width: auto;
}

.contents {
    background-color: #833B8D;
    border: 1px solid #6A2D73;
    color: aliceblue;
}

.activity {
    background-color: #D9D9D9;
    border: 1px solid #C7C4C4;
    color: black;
}

.student {
    font-size: 15px !important;

}

.aluno {
    border-top-left-radius: 25px !important;
    border: 1px solid #C7C4C4;


}

[data-toggle="tooltip"] {
    position: relative;
    cursor: pointer;
}

[data-toggle="tooltip"]::after {
    content: attr(title);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

[data-toggle="tooltip"]:hover::after,
[data-toggle="tooltip"]:hover::before {
    opacity: 1;
    visibility: visible;
}